---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import BlogAvatar from "../components/ui/BlogAvatar.tsx";
// §import { Button } from "../components/ui/button";
---

<Layout title="RFT - about">
  <article class="max-w-2xl mx-auto px-4 py-8 flex-col">
      <header>
        <h1 class="text-4xl font-bold mb-2"></h1>
        <div class="flex items-center space-x-4">
          <BlogAvatar client:load />
          <div>
            <p class="text-sm font-medium">Blog</p>
            <p class="text-sm text-muted-foreground">{"2024-10-01"}</p>
          </div>
        </div>
      </header>
      <section class="prose about-section">
        <h2>Your Swiss Army Knife for Image Processing</h2>
          <span>I got tired of constantly resizing screenshots and icons for different app store submissions like Chrome Web or iOs. And I was wasting brain space and time on file convert sites. That's why I built File Converter AI—first as a local tool for myself, and now as a web app to help others automate this process.
          </span>
          <h3>The solution</h3>  
          <span>  
          File Converter AI is the flexible, chat based tool designed to simplify repetitive tasks and keep you focused on the creative work that matters. Whether you need to convert a PNG to JPG, resize images to exact dimensions, rename files for better organization, or perform bulk edits, File Converter AI has you covered—all with the power of yap (NLP). Just add your files, and with a simple command like, “Create a 190x190 and 200x200 version of this file,” our AI gets to work for you.
          <!-- <br />
          <br />
          Forms slow things down—I think the future is in chat-driven, prompt-based interfaces that make everything flow.
          
          How File Converter AI Works for You
          Here are some ways it can transform your creative process:
          
          Convert File Types with Ease: Need to go from PNG to JPG in a pinch? Just ask, and it’s done.
          Resize and Create Multiple Versions: Quickly generate versions in different sizes without having to manually adjust each one.
          Rename and Organize Your Files: Keep files sorted with custom names to keep your projects on track.
          Bulk Edits in a Snap: Apply changes across multiple files to save time and stay in the flow.
          Currently, File Converter AI can handle up to three files at a time, with a maximum file size of 1GB. While video support is limited for now, updates are on the way to expand functionality even further.
          
          Try It Out and Share Your Thoughts
          Give File Converter AI a spin, and let me know what you think! I’d love to hear your feedback on Twitter: @skull_wooden. -->
        </span>
        <h3>How it works</h3>  
        <span>1. Your file is uploaded</span>
        <span>2. Enter your prompt</span>
        <span>3. Your files are processed</span>
        <span>4. Click the download button to download your files and enjoy</span>
        <span>5. Please contact the support email if you have any issues</span>
        <!-- <h2 class="mt-4">Privacy</h2>
        <span>
          Info is used only for sending your files and is not shared with third
          parties.
        </span>
        <span>Files are stored in AWS s3 and deleted after 1 week</span>
        <span>
          The only personal data collected is the sender and receiver email
          addresses through the form
        </span>
        <span>There are no cookies or cross-site tracking.</span> -->
      </section>
  </article>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section {
    min-width: 300px;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0.5rem;
    text-align: left;
  }
  h2 {
    align-self: flex-start;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.025em;
  }
  h3 {
    align-self: flex-start;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: -0.025em;
  }
  span {
    align-self: flex-start;
    text-align: left;
    color: #666;
    font-size: 0.875rem;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }
  h1:nth-of-type(2) {
    margin-top: 30px;
  }
  @media (min-width: 768px) {
    .about-section {
      padding: 3rem 0.5rem 2rem;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
  @media (min-width: 1024px) {
    .about-section {
      padding: 3rem 0.5rem 5rem;
    }
  }
</style>
